<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>一人烘培深似海</string>
		<key>note</key>
		<string>越做越上手，订单越来越多</string>
		<key>icon</key>
		<string>1.jpg</string>
		<key>promo</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>瘦成一道闪电</string>
		<key>note</key>
		<string>我到现在26天了，减了30斤</string>
		<key>icon</key>
		<string>2.jpg</string>
		<key>promo</key>
		<string>3.png</string>
	</dict>
</array>
</plist>
